.footer {
            width: 100%;
            position: absolute;
            bottom: 30px;
        }
        .btn_mes {
               margin-bottom: 45px;
               width: 100%;
               padding-left: 15px;
               padding-right: 15px;
        }
        .withdrawals {
            width: 100%;
            height: 44px;/*44*/
            background: none;
            border: 1px solid #ff6f60;
            color: #ff6f60;
            font-size: 14px;
            border-radius: 4px;
        }